# Monorepo CI and package managers manifests.
/.github/ @poocommerce/flux
**/composer.json @poocommerce/flux
**/package.json @poocommerce/flux

# Monorepo tooling folders.
/bin/ @poocommerce/flux
/tools/ @poocommerce/flux
/packages/js/eslint-plugin/ @poocommerce/flux
/packages/js/dependency-extraction-webpack-plugin/ @poocommerce/flux
/packages/js/e2e-utils-playwright/ @poocommerce/solaris

# Files in root of repository
/.* @poocommerce/flux
/*.* @poocommerce/flux
/changelog.txt
