@import "./place-holder/style.scss";

.wp-block-poocommerce-product-images-field {
	.poocommerce-sortable {
		margin-top: 0;
		padding: 0;
	}

	&.has-images {
		.poocommerce-image-gallery {
			margin-top: $gap-largest;
		}
	}

	&:not(.has-images) {
		.poocommerce-sortable {
			display: none;
		}
	}
}

.poocommerce-product-form__media-uploader {
	.poocommerce-media-uploader {
		.components-drop-zone {
			// This height cannot be higher than this, otherwise it will invade the area from the block below.
			min-height: 84px;
		}

		&__label {
			display: none;
		}
	}
}
