<!-- wp:columns -->
<div class='wp-block-columns'><!-- wp:column {"width":"33.33%"} -->
	<div
		class='wp-block-column'
		style='flex-basis:33.33%'
	><!-- wp:poocommerce/filter-wrapper {"filterType":"active-filters","heading":"Active filters"} -->
		<div
			class='wp-block-poocommerce-filter-wrapper'
		><!-- wp:heading {"level":3} -->
			<h3 class='wp-block-heading'>Active filters</h3>
			<!-- /wp:heading -->

			<!-- wp:poocommerce/active-filters {"heading":"","lock":{"remove":true}} -->
			<div
				class='wp-block-poocommerce-active-filters is-loading'
				data-display-style='list'
				data-heading=''
				data-heading-level='3'
			><span
					aria-hidden='true'
					class='wc-block-active-filters__placeholder'
				></span></div>
			<!-- /wp:poocommerce/active-filters --></div>
		<!-- /wp:poocommerce/filter-wrapper -->

		<!-- wp:poocommerce/filter-wrapper {"filterType":"price-filter","heading":"Filter by price"} -->
		<div
			class='wp-block-poocommerce-filter-wrapper'
		><!-- wp:heading {"level":3} -->
			<h3 class='wp-block-heading'>Filter by price</h3>
			<!-- /wp:heading -->

			<!-- wp:poocommerce/price-filter {"heading":"","lock":{"remove":true}} -->
			<div
				class='wp-block-poocommerce-price-filter is-loading'
				data-showinputfields='true'
				data-showfilterbutton='false'
				data-heading=''
				data-heading-level='3'
			><span
					aria-hidden='true'
					class='wc-block-product-categories__placeholder'
				></span></div>
			<!-- /wp:poocommerce/price-filter --></div>
		<!-- /wp:poocommerce/filter-wrapper -->

		<!-- wp:poocommerce/filter-wrapper {"filterType":"stock-filter","heading":"Filter by stock status"} -->
		<div
			class='wp-block-poocommerce-filter-wrapper'
		><!-- wp:heading {"level":3} -->
			<h3 class='wp-block-heading'>Filter by stock status</h3>
			<!-- /wp:heading -->

			<!-- wp:poocommerce/stock-filter {"heading":"","lock":{"remove":true}} -->
			<div
				class='wp-block-poocommerce-stock-filter is-loading'
				data-show-counts='true'
				data-heading=''
				data-heading-level='3'
			><span
					aria-hidden='true'
					class='wc-block-product-stock-filter__placeholder'
				></span></div>
			<!-- /wp:poocommerce/stock-filter --></div>
		<!-- /wp:poocommerce/filter-wrapper -->

		<!-- wp:poocommerce/filter-wrapper {"filterType":"rating-filter","heading":"Filter by rating"} -->
		<div
			class='wp-block-poocommerce-filter-wrapper'
		><!-- wp:heading {"level":3} -->
			<h3 class='wp-block-heading'>Filter by rating</h3>
			<!-- /wp:heading -->

			<!-- wp:poocommerce/rating-filter {"lock":{"remove":true}} -->
			<div
				class='wp-block-poocommerce-rating-filter is-loading'
				data-show-counts='true'
			><span
					aria-hidden='true'
					class='wc-block-product-rating-filter__placeholder'
				></span></div>
			<!-- /wp:poocommerce/rating-filter --></div>
		<!-- /wp:poocommerce/filter-wrapper -->

		<!-- wp:poocommerce/filter-wrapper {"filterType":"attribute-filter","heading":"Filter by attribute"} -->
		<div
			class='wp-block-poocommerce-filter-wrapper'
		><!-- wp:heading {"level":3} -->
			<h3 class='wp-block-heading'>Filter by attribute</h3>
			<!-- /wp:heading -->

			<!-- wp:poocommerce/attribute-filter {"attributeId":1,"heading":"","lock":{"remove":true}} -->
			<div
				class='wp-block-poocommerce-attribute-filter is-loading'
				data-attribute-id='1'
				data-show-counts='true'
				data-query-type='or'
				data-heading=''
				data-heading-level='3'
			><span
					aria-hidden='true'
					class='wc-block-product-attribute-filter__placeholder'
				></span></div>
			<!-- /wp:poocommerce/attribute-filter --></div>
		<!-- /wp:poocommerce/filter-wrapper -->

		<!-- wp:poocommerce/filter-wrapper {"filterType":"attribute-filter","heading":"Filter by attribute"} -->
		<div
			class='wp-block-poocommerce-filter-wrapper'
		><!-- wp:heading {"level":3} -->
			<h3 class='wp-block-heading'>Filter by attribute</h3>
			<!-- /wp:heading -->

			<!-- wp:poocommerce/attribute-filter {"attributeId":2,"heading":"","lock":{"remove":true}} -->
			<div
				class='wp-block-poocommerce-attribute-filter is-loading'
				data-attribute-id='2'
				data-show-counts='true'
				data-query-type='or'
				data-heading=''
				data-heading-level='3'
			><span
					aria-hidden='true'
					class='wc-block-product-attribute-filter__placeholder'
				></span></div>
			<!-- /wp:poocommerce/attribute-filter --></div>
		<!-- /wp:poocommerce/filter-wrapper --></div>
	<!-- /wp:column -->

	<!-- wp:column {"width":"66.66%"} -->
	<div
		class='wp-block-column'
		style='flex-basis:66.66%'
	><!-- wp:poocommerce/all-products {"columns":3,"rows":3,"alignButtons":false,"contentVisibility":{"orderBy":true},"orderby":"date","layoutConfig":[["poocommerce/product-image",{"imageSizing":"cropped"}],["poocommerce/product-title"],["poocommerce/product-price"],["poocommerce/product-rating"],["poocommerce/product-button"]]} -->
		<div
			class='wp-block-poocommerce-all-products wc-block-all-products'
			data-attributes='{&quot;alignButtons&quot;:false,&quot;columns&quot;:3,&quot;contentVisibility&quot;:{&quot;orderBy&quot;:true},&quot;isPreview&quot;:false,&quot;layoutConfig&quot;:[[&quot;poocommerce/product-image&quot;,{&quot;imageSizing&quot;:&quot;cropped&quot;}],[&quot;poocommerce/product-title&quot;],[&quot;poocommerce/product-price&quot;],[&quot;poocommerce/product-rating&quot;],[&quot;poocommerce/product-button&quot;]],&quot;orderby&quot;:&quot;date&quot;,&quot;rows&quot;:3}'
		></div>
		<!-- /wp:poocommerce/all-products --></div>
	<!-- /wp:column --></div>
<!-- /wp:columns -->
