.poocommerce-error-boundary {
	margin-block: 16px;

	.poocommerce-empty-content__message {
		margin-block: 12px;
	}

	.poocommerce-empty-content {
		margin: 0;
	}

	.poocommerce-empty-content__illustration {
		margin-bottom: -7px;
	}
}
