.poocommerce-attribute-field {
	width: 100%;
	font-size: 13px;

	.poocommerce-sortable {
		margin: 0;
	}

	.poocommerce-sortable__item:not(:first-child) {
		margin-top: -1px;
	}
	.poocommerce-sortable__item:focus-visible:not(:active) + .poocommerce-sortable__item .poocommerce-attribute-list-item {
		background: none;
		border-top: 0;
	}

	.poocommerce-add-attribute-list-item__add-button {
		margin-bottom: $gap;
	}

	&__notice.components-notice {
		margin: 0px;
		padding-right: $gap-small;
	}
}
