.poocommerce-edit-attribute-modal {
	overflow: visible;

	&__buttons {
		margin-top: $gap-larger;
		display: flex;
		flex-direction: row;
		gap: $gap-smaller;
		justify-content: flex-end;
	}
}

.poocommerce-edit-attribute-modal__body {
	width: 500px;
	max-width: 100%;

	.poocommerce-experimental-select-control
		+ .poocommerce-experimental-select-control {
		margin-top: 1.3em;
	}

	.poocommerce-experimental-select-control__label,
	.components-base-control__label {
		font-size: 14px;
		color: #757575;
		font-weight: bold;
		text-transform: none;
	}

	.poocommerce-edit-attribute-modal__option-container {
		display: flex;
		flex-direction: row;
		align-items: center;

		.components-base-control, .components-base-control__field {
			margin-bottom: 0;
		}
	}

	.poocommerce-attribute-term-field {
		margin-bottom: 1.5em;
	}

	.poocommerce-edit-attribute-modal__helper-text {
		color: #757575;
		margin: 0.5em 0 1.5em 0;
	}
}
