@import './combo-box.scss';
@import './menu.scss';
@import './menu-item.scss';
@import './selected-items.scss';
@import './suffix-icon.scss';

.poocommerce-experimental-select-control {
	position: relative;

	&.is-focused .poocommerce-experimental-select-control__combo-box-wrapper {
		box-shadow: 0 0 0 1px var( --wp-admin-theme-color );
		border-color: var( --wp-admin-theme-color );
	}

	&.is-read-only.is-multiple.has-selected-items {
		.poocommerce-experimental-select-control__combo-box-wrapper {
			cursor: default;
		}

		.poocommerce-experimental-select-control__input {
			opacity: 0;
			width: 0;
			height: 0;
		}
	}

	&__label {
		display: inline-block;
		margin-bottom: $gap-smaller;
	}

	.poocommerce-experimental-select-control__input {
		border: 0;
		box-shadow: none;

		&:focus {
			outline: none;
		}
	}
}
