

.poocommerce-empty-content {
	margin-bottom: $gap;
	text-align: center;

	.poocommerce-empty-content__illustration {
		max-width: 100%;
	}

	.poocommerce-empty-content__actions {
		.components-button + .components-button {
			margin-left: $gap;
		}
	}
}
